@media (max-width:1399.98px) {
  .product_details_area .text .more_info .quantity_and_bag .add-to-cart a {
    margin-left: 13px;
    padding: 0 25px;
  }

}

@media (max-width:1199.98px) {
  .featured_area .featured_item {
    padding-right: 14px;
    padding: 14px;
  }

  .featured_area .featured_item .icon {
    margin-right: 13px;
  }

  .footer_area .footer_main .left_info {
    column-gap: 54px;
    flex-wrap: wrap;
  }

  .product_details_area .text .more_info .quantity_and_bag .add-to-cart a {
    margin-left: 0;
  }

  .product_details_area .text .more_info .quantity_and_bag .quantity-main .qnt-number {
    margin-bottom: 12px;
    margin-right: 12px;
  }

  .product_details_area .text .more_info {
    margin-top: 19px;
    padding-top: 19px;
  }

  .container-fluid {
    padding: 0 20px;
  }
}

@media (max-width:991.98px) {
  .featured_area .featured_item {
    padding-right: 22px;
    padding: 22px;
  }

  .featured_area .featured_item .icon {
    margin-right: 22px;
  }

  .footer_area .footer_main .left_info {
    column-gap: 130px;
  }

  .product_details_area .text .more_info .quantity_and_bag .add-to-cart a {
    margin-left: 12px;
  }

  .product_details_area .text .more_info .quantity_and_bag .quantity-main .qnt-number {
    margin-bottom: 0;
    margin-right: 0;
  }

  .cart_area .top_breadcrumb ul li a {
    font-size: 17px;
  }

  .cart_area .cart_right {
    padding-left: 0;
    margin-top: 30px;
    border-left: 0;
  }

  .cart_area .top_breadcrumb ul {
    justify-content: flex-start;
  }

  .checkout_area .cart_right {
    padding: 16px;
    padding-left: 16px;
    border-left: 1px solid #222;
  }

  .order_complete .cart_right {
    padding-left: 0;
    border-left: 0;
    padding: 0;
    border-right: 0;
  }

  .order_complete_right {
    margin-top: 30px;
  }

  .order_view {
    .cart_right {
      margin-top: 0 !important;
    }
  }

  .mobile-menu-area .mobile-topbar {
    .logo {
      img {
        width: 140px;
      }
    }
  }

  .mobile-menu-main {
    .logo {
      img {
        width: 140px;
      }
    }
  }

  .mobile-menu-area .mobile-menu-main .close-mobile-menu {
    position: absolute;
    top: 11px;
    right: 10px;
  }

  .header_area .right_area .cart_ .badge {
    top: -4px;
  }

  .category_left_sidebar {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    z-index: 9999;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 24px !important;
  }

  .filter_prd_mobile {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 3px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 16px;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  .show.category_left_sidebar {
    right: 0;
  }

  .category_main_prd_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  .show.category_main_prd_overlay {
    opacity: 1;
    visibility: visible;
  }

  .footer_area .footer_btm {
    padding-bottom: 70px;
  }

  .scroll-to-top.show {
    bottom: 65px;
  }
}

@media (max-width:767.98px) {
  .category_title .title {
    font-size: 20px;
  }

  .footer_area .footer_main .left_info {
    column-gap: 55px;
  }

  .product_details_area .prd_image .slick-dots {
    display: none;
  }

  .product_details_area .prd_image {
    position: relative;
    padding-left: 0;
  }

  .cart_area .top_breadcrumb ul li a {
    font-size: 15px;
  }
}

@media (max-width:575.98px) {
  .category_title {
    gap: 13px;
    align-items: flex-start;
    flex-direction: column;
  }

  .categories_slider .categories_item {
    margin: 0 4px;
  }

  .footer_area .footer_main .left_info {
    column-gap: 55px;
    row-gap: 30px;
  }

  .footer_area .footer_main .right_info {
    margin-top: 20px;
  }

  .product_details_area .overview-and-specification .menus .nav-link {
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .product_details_area .text .prd_title {
    font-size: 22px;
  }

  .product_details_area .text .more_info .quantity_and_bag .add-to-cart a {
    margin-left: 0;
  }

  .product_details_area .text .more_info .quantity_and_bag .quantity-main .qnt-number {
    margin-bottom: 12px;
    margin-right: 12px;
  }

  .login_area .login_main form {
    padding: 30px 20px;
  }

  .login_area .login_main .login_title {
    font-size: 24px;
  }

  .login_area .login_main .input_groups label {
    font-size: 14px;
  }

  .login_area .login_main .login_title small {
    margin-top: 10px;
  }

  .dashboard_area .right_info_ .dashboard_info ul li {
    display: block;
    text-align: center;

    a {
      width: 100%;
    }
  }

  .cart_area .top_breadcrumb ul li a {
    font-size: 13px;
  }

  .cart_area .top_breadcrumb ul li {
    margin: 0 3px;
    margin-bottom: 5px;
  }

  .cart_area .top_breadcrumb ul li a svg {
    margin-left: 1px;
    width: 18px;
    height: 18px;
  }

  .order_complete .order_complete_right {
    padding: 20px;
  }

  .banner_area {
    .slick-slide img {
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: center center;
    }
  }

  .header_area .right_area {
    gap: 12px;
  }

  .header_area .right_area .profile_ button span {
    font-size: 12px;
  }

  .header_area .right_area .cart_ span {
    font-size: 12px;
  }

  .mobile-menu-area .mobile-topbar .logo img {
    width: 126px;
  }

  .header_area .right_area .cart_ i {
    font-size: 15px;
  }

  .header_area .right_area .profile_ button i {
    font-size: 15px;
  }

  .container-fluid {
    padding: 0 12px;
  }
}