@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.order_view {
  .cart_right {
    border-right: 0 !important;
  }
}

.order_complete {
  .cart_right {
    border: 0;
    border-right: 1px solid $border;

    .order_complete_title {
      @include font(28px, 600);
      margin-bottom: 15px;
      color: $paragraph;
    }
  }

  .order_complete_right {
    background-color: #FAFAFA;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, .07), inset 0 0 0 1px rgba(0, 0, 0, .05);
    padding: 24px;

    .title {
      @include font(16px, 500);
      color: #28a745;
      margin-bottom: 24px;
    }

    ul {
      padding-left: 15px;

      li {
        @include font(15px, 400);
        color: $paragraph;
        margin-bottom: 12px;

        span {
          color: $black;
          opacity: 0.7;
          font-weight: 600;
        }

        b {
          color: $black;
          font-weight: 600;
        }
      }
    }
  }
}